/* body{
  font-family: 'Oswald', sans-serif !important;
} */
.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display: flex;
}

nav a {
  flex: 2 1 25%;
}

.navbar-nav {
  display: flex;
}

.nav-link {
  margin: 20px;
}

.hd-txt {
  position: absolute;
  top: 250px;
  left: 50px;
  color: #333333;
  font-size: 90px;
  font-weight: 700;
}

.pd-txt {
  position: absolute;
  top: 400px;
  left: 50px;
  color: #333333;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-style: italic;
}

.hd-btn {
  position: absolute;
  top: 500px;
  left: 50px;
  background-color: #ff9010 !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 28px !important;
  padding: 15px 38px !important;
  text-transform: uppercase !important;
}

.about {
  margin: 100px 0;
}
.about h1 {
  font-weight: 700;
  /* width: 200px;
  margin-left: auto;
  margin-right: auto; */
}

.about h4 {
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  /* margin-left: auto;
  margin-right: auto;
  width: 500px; */
}

.about .ab-p {
  color: #222222;
  font-size: 16px;
  line-height: 28px;
  margin-top: 25px;
}
.contact {
  padding: 100px 0;
}

.contact h1 {
  text-align: center;
  margin: 30px 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
}

.contact input,
.contact textarea {
  width: 100%;
  margin-bottom: 15px;
  color: #333;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #ddd;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px;
}

input:focus,
textarea:focus,
:focus {
  outline: 0;
}

.contact button {
  background-color: #ff9010;
  color: #fff;
  text-transform: uppercase;
  border-radius: 23px;
  padding: 10px 50px;
  margin: 30px;
}

.support {
  text-align: center;
}

.support h2 {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  color: #222222;
}

.support p {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  color: #222222;
}

.spn-col {
  color: #ff9010;
}

.work {
  padding: 100px 0;
}

.work h1 {
  text-align: center;
  margin: 30px 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
}
.wrk-wrp {
  overflow: hidden;
  margin-bottom: 30px;
}

.wrk-wrp img {
  transition: 0.3s;
}

.wrk-wrp img:before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
}

.wrk-txt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  opacity: 1;
  padding: 25px 0 0 25px;
}

.wrk-txt h2 {
  font-size: 24px;
  text-transform: capitalize;
  line-height: 29px;
  color: #fff;
  font-weight: 700;
}

.wrk-txt span {
  font-size: 18px;
  font-weight: 400;
}

.ft-bg {
  background: #222222;
  color: #999999;
  font-size: 14px;
  line-height: 35px;
  margin-top: 10px;
  letter-spacing: 0.6px;
}

.cop-cont {
  padding: 30px 0;
}

.ft-bg .icon {
  text-align: center;
}

.ft-bg .icon i {
  padding: 25px;
  font-size: 20px;
}

.ft-bg p {
  text-align: center;
}

.wrk-wrp:hover {
  opacity: 0.3;
}

.testimonial {
  background-color: #f7f7fd;
  padding: 120px 0 125px;
}

.testimonial-text {
  text-align: center;
}

.testimonial-img img {
  border-radius: 100%;
}
.testimonial-text p {
  font-size: 24px;
  color: #222222;
  font-weight: 600;
  padding-top: 20px;
  /* margin-bottom: 20px; */
  line-height: 35px;
  font-style: italic;
}

.testimonial-text h4 {
  padding: 20px 0 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0;
  line-height: 22px;
  color: #ff9010;
  letter-spacing: 1px;
}

.testimonial-text span {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  text-transform: capitalize;
}

.resume {
  background-color: #f7f7fd;
  padding: 100px 0;
}

.resume h1 {
  color: #222222;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 80px;
}

.resume-img img {
  border: 8px solid #ff9010;
  max-width: 100%;
  border-radius: 50%;
}

.resume-tabs {
  margin: 30px 0 50px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.resume-tabs li {
  margin-bottom: 30px;
  margin-right: 10px;
}

.resume-tabs li a {
  display: block;
  color: #444;
  background-color: #eee;
  font-weight: 600;
  padding: 22px 25px;
  line-height: 1;
  /* position: relative; */
  font-size: 22px;
}

.resume-tabs li a:hover {
  background: #ff9010;
  text-decoration: none;
}

.resume-tabs li a.active {
  background: #ff9010;
  color: #222;
  border-color: #ff9010;
  text-decoration: none;
}

.sidebar {
  border-right: 1px solid #cccccc;
}

.resume-content {
  margin-left: 15px;
  padding-bottom: 30px;
  line-height: 30px;
}

.resume-content h3 {
  font-weight: 700;
  font-family: pt sans;
  color: #222222;
  text-transform: uppercase;
}

.resume-content h5 {
  margin: 15px 0;
  font-weight: 700;
  font-family: pt sans;
  font-style: italic;
  color: #ff9010;
}

.resume-content p {
  margin: 25px 0 0 0;
  font-weight: 400;
  font-family: pt sans;
  font-size: 16px;
  line-height: 30px;
  color: #666666;
}

.wtmark p {
  padding: 20px 0 0 0;
  font-size: 62px;
  font-weight: 700;
  font-style: italic;
  color: #eee;
}
